Assembly-CSharp.csproj                   
UnityPractice.CSharp.Editor.Plugins.csproj
Assembly-CSharp-Editor-firstpass.csproj  
UnityPractice.CSharp.Plugins.csproj
Assembly-CSharp-firstpass.csproj         
UnityPractice.csproj
UnityPractice.Editor.Plugins.csproj
UnityPractice.Plugins.csproj
UnityPractice.sln
UnityPractice.userprefs

